@model IEnumerable<TicketmasterAPI.Models.EventSearch>

@{
    ViewData["Title"] = "SearchResult";
}

<h1>SearchResult</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeyWord)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.url)
            </th>
            <th>

            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KeyWord)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.url)
                </td>
                <td>

                    @Html.ActionLink("Details", "EvDetail", new { /* id=item.PrimaryKey */ }) |

                </td>
            </tr>
        }

    </tbody>

</table>