@*@model IEnumerable<TicketmasterAPI.Models.Event>*@
@model List<Event>


@{
    ViewData["Title"] = "SearchResult";
}
<form action="SearchResult" method="post">
    <h2>KeyWord</h2>
    <input type="text" name="KeyWord" />
    <input type="submit" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                City
            </th>
            <th>
                State
            </th>
            <th>
                Genre
            </th>
            <th>
                Date
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a href=@item.Url>@Html.DisplayFor(modelItem => item.Name)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenreName)
                </td>

                <td>
                    @Html.ActionLink("Favorite", "addFavorite", "FavEvents",
                   new
                        {
                            name = item.Name,
                            url = item.Url,
                            city = item.City,
                       state = item.State,
                            date = item.Date,
                            genreName = item.GenreName
                        }, null)
                </td>
            </tr>
        }
    </tbody>
</table>